@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --mono: #7ED348;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mono: var(--mono);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}


html {
  scroll-behavior: smooth;
}

@keyframes borderColorChange {
  0%, 100% {
    border-color: #3b82f6;
  }
  25% {
    border-color: #22d3ee;
  }
  50% {
    border-color: #10b981;
  }
  75% {
    border-color: #8b5cf6;
  }
}

.animate-border-color {
  animation: borderColorChange 4s ease-in-out infinite;
}
